/* #region common rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion common rules */

.debug {
  color: gray;
  .upper {
    width: 100%;
    .sidebar_container {
      display: inline-block;
      width: 20%;
      height: calc(100vh - 90px);
      background-color: black;
      .sidebar {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
    }
    .main_container {
      display: inline-block;
      height: calc(100vh - 90px);
      overflow-y: auto;
      width: 60%;
    }
  }
  .lower {
    height: 90px;
    background-color: darkgray;
  }
}
